 img {
    padding-top: 20px;
}

.img-resize {
    max-width: 720px;
    min-width: 600px;
    margin: 20 auto;
}
.img-resize2 {
    max-height: 468px;
    min-height: 468px;
    width: 400px;
    margin: 10 auto;
}
      
